<html>

<head>
    <title>
        {{ title }}
    </title>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='../stylesheets/style.css' />
</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src='../images/logo.png'></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            {{#if role}}
            <li class="nav-item">
                <a class="nav-link" href="/users/view-employee">Employee</a>
            </li>
            {{/if}}
            <li class="nav-item">
                <a class="nav-link" href="/leave">Leave Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/notifications">Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-auto right-text">
            <li class="nav-item ">
                <a class="nav-link" href="/">Sign Out </a>
            </li>

        </ul>

    </div>
</nav>


<body>