{{> header}}



<div class="container">
    <div class="row">
        {{!-- <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-primary bg-darken-2">
                            <i class="icon-camera font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-gradient-x-primary white media-body">
                            <h5>Dashboard</h5>
                            <h5 class="text-bold-400 mb-0"><i class="ft-plus"></i> 28</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-danger bg-darken-2">
                            <i class="icon-user font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-gradient-x-danger white media-body">
                            <h5>Calendar</h5>
                            <h5 class="text-bold-400 mb-0"><i class="ft-arrow-up"></i>2019-03-29</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-warning bg-darken-2">
                            <i class="icon-basket-loaded font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-gradient-x-warning white media-body">
                            <h5>Leaves Taken</h5>
                            <h5 class="text-bold-400 mb-0"><i class="ft-arrow-down"></i> 4</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-success bg-darken-2">
                            <i class="icon-wallet font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-gradient-x-success white media-body">
                            <h5>Total Leaves</h5>
                            <h5 class="text-bold-400 mb-0"><i class="ft-arrow-up"></i> 21</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
        <div>
            {{!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
            <!------ Include the above in your HEAD tag ---------->

            <div class="container emp-profile">
                <form method="post">
                    <input type="hidden" id="userId" name="userId" value="{{{id}}}">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-img">
                                <img class="empPhoto" src="" alt="" />
                                {{!-- <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div> --}}
                            </div>
                            <div class="profile-work">
                                <h5>Total Available Leaves</h5>
                                <h3 class="empAvailableLeaves">0</h3>
                            </div>
                            <div class="profile-work">
                                <h5>Leaves Taken This Month</h5>
                                <h3 class="empLeavesTaken">0</h3>
                            </div>
                            <br><br>
                            <div class="profile-work">
                                {{!-- <p>WORK LINK</p> --}}
                                <a class="btn btn-primary btn-block" href="{{buttonUrl}}">{{buttonText}}</a><br />

                            </div>
                            {{#if userRole}}
                            <div class="profile-work" style="margin-top:10px">
                                {{!-- <p>WORK LINK</p> --}}
                                <a class="btn btn-primary btn-block" href="/dashboard/edit-employee">Edit
                                    Details</a><br />
                            </div>
                            {{/if}}
                        </div>
                        <div class="col-md-8">
                            <div class="profile-head">
                                <span class="employeeName">
                                    Kshiti Ghelani
                                </span>
                                <span class="empDesignation"></span>
                                <h6 class="employeeId">
                                    Web Developer and Designer
                                </h6>
                                <p class="proile-rating employeeEmail">RANKINGS : <span>8/10</span></p>


                            </div>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                        aria-controls="home" aria-selected="true">Employee Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                        aria-controls="profile" aria-selected="false">Employee Leaves</a>
                                </li>
                            </ul>
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Address</label>
                                        </div>
                                        <div class="col-md-8 empAddress">
                                            <p>Add - Line 1</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Date of Birth</label>
                                        </div>
                                        <div class="col-md-8 empDob">
                                            <p> 09-06-1991</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Gender</label>
                                        </div>
                                        <div class="col-md-8 empGender">
                                            <p>Male</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Marital Satus</label>
                                        </div>
                                        <div class="col-md-8 empMStatus">
                                            <p>Single</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Contact Number</label>
                                        </div>
                                        <div class="col-md-8 empContactNumber">
                                            <p>0123456789</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Emergency Contact Number</label>
                                        </div>
                                        <div class="col-md-8 empEmergencyContactNumber">
                                            <p>0123456789</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Blood Group</label>
                                        </div>
                                        <div class="col-md-8 empBloodGroup">
                                            <p>B+</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Joining Date</label>
                                        </div>
                                        <div class="col-md-8 empJoiningDate">
                                            <p>04/06/2018</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Employee Status</label>
                                        </div>
                                        <div class="col-md-8 empStatus">
                                            <p>Active</p>
                                        </div>
                                    </div>
                                </div>
                                {{!-- Leaves Tab --}}
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        {{#if edit_detail}}
                                        {{!-- when we edit emp details --}}
                                        <table class="table table-striped leavesTable">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Leave Type</th>
                                                    <th>Leave Value</th>
                                                    <th>Reason</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody class="empLeavesTableBody">
                                                {{!-- <tr>
                                                    <td>John</td>
                                                    <td>Doe</td>
                                                    <td>john@example.com</td>
                                                    <td>john@example.com</td>
                                                </tr> --}}
                                            </tbody>
                                        </table>
                                        {{else}}
                                        <table class="table table-striped leavesTable">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Leave Type</th>
                                                    <th>Leave Value</th>
                                                    <th>Reason</th>
                                                </tr>
                                            </thead>
                                            <tbody class="empLeavesTableBody">
                                                {{!-- <tr>
                                                    <td>John</td>
                                                    <td>Doe</td>
                                                    <td>john@example.com</td>
                                                    <td>john@example.com</td>
                                                </tr> --}}
                                            </tbody>
                                        </table>
                                        {{/if}}
                                    </div>

                                </div>

                                {{!-- Calender --}}
                                <div id='calendar'></div>
                            </div>
                        </div>
                        {{!-- <div class="col-md-2">
                            <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
                        </div> --}}
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<!-- Delete Leave Modal -->
<div id="deleteLeaveModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Leave</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this leave on <span id="leaveDate"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger deleteLeaveYesButton" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
            </div>
        </div>

    </div>
</div>

<!-- Edit Leave Modal -->
<div id="updateLeaveModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form id="apply-leave" method="post" action="/dashboard/updateLeave" novalidate="novalidate"></form>
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Leave</h4>
            </div>
            <div class="modal-body">

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                                <label for="leave-type">Leave Type</label>
                                <select name="leaveType" id="leaveType" class="form-control"
                                    title="Please select a Leave Type" required="">
                                    
                                </select><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label class="control-label" for="leaveDateUpdate">Start Date</label>
                                <input type="date" class="form-control" id="leaveDateUpdate"
                                    name="leaveDateUpdate"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label>Reason</label>
                                <textarea class="form-control" id="reason" name="reason"></textarea><span
                                    class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger updateLeaveYesButton" data-dismiss="modal">Apply</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        </form>
    </div>
</div>


<script src="/javascripts/dashboard.js"></script>