{{> header}}

    <section id="banner">
        <div class="hero-image">
            <div class="hero-text">
                <h1>PARTNER WITH THE BEST</h1>
                <h1>FOR SOFTWARE DEVELOPMENT!</h1>

                <button>Contact us</button>
            </div>
        </div>

    </section>