<link rel='stylesheet' href='../stylesheets/style.css' />
<link rel='stylesheet' href='../stylesheets/login.css' />

<style>

</style>
</head>

<body style="background-image: url('../images/2.jpg');">
    <div class="container">
        <form class="login100-form validate-form" action="/login" method="POST">
           
            <span class="login100-form-title p-b-34">
                Account Login
            </span>

            <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
                <input id="first-name" class="input100" type="text" name="email" placeholder="User Email" required>
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                <input class="input100" type="password" name="password" placeholder="Password" required>
                <span class="focus-input100"></span>
            </div>

             {{#if message}}
            <div class="status_message">{{message}}</div>
            {{/if}}

            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Sign in
                </button>
            </div>
            

            <p>
                <a href="/forgotPassword">Forgot Password</a>
            </p>


        </form>
    </div>