{{> header}}


<style>
    #team {
        background: #eee !important;
    }

    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #108d6f;
        border-color: #108d6f;
        box-shadow: none;
        outline: none;
    }

    .btn-primary {
        color: #fff;
        background-color: #007b5e;
        border-color: #007b5e;
    }

    section {
        padding: 60px 0;
    }

    section .section-title {
        text-align: center;
        color: #007b5e;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

    #team .card {
        border: none;
        background: #ffffff;
        width: 100%;
    }

    .image-flip:hover .backside,
    .image-flip.hover .backside {
        cursor: pointer;
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        border-radius: .25rem;
        width: 100%;
    }

    .image-flip:hover .frontside,
    .image-flip.hover .frontside {
        cursor: pointer;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        width: 100%;
    }

    .mainflip {
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -ms-transition: 1s;
        -moz-transition: 1s;
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
        position: relative;
        width: 100%;
    }

    .frontside {
        position: relative;
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        z-index: 2;
        margin-bottom: 30px;
        width: 100%;
    }

    .backside {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background: white;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    }

    .frontside,
    .backside {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 1s;
        -moz-transform-style: preserve-3d;
        -o-transition: 1s;
        -o-transform-style: preserve-3d;
        -ms-transition: 1s;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
    }

    .frontside .card,
    .backside .card {
        min-height: 312px;
    }

    .backside .card a {
        font-size: 18px;
        color: #007b5e !important;
    }

    .frontside .card .card-title,
    .backside .card .card-title {
        color: #007b5e !important;
    }

    .frontside .card .card-body img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
</style>

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <a class="btn btn-primary btn-small" href="/dashboard/add-employee" style="float:right; top:50px; margin-top: -95px; margin-right:200px">Add Employee</a>
        <div class="row empList" style="padding-top:30px;">
            <!-- Team member -->
            {{!-- <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="../images/profile/1.png"
                                            alt="card image"></p>
                                    <h4 class="card-title empListName">Kumar Gaurav</h4>
                                    <h6 class="card-title empListDesignation">Software Engineer</h6>
                                    <p class="card-text">
                                        Employee ID: <span class="empListEmpId">1111</span><br>
                                        Email ID: <span class="empListEmail">gkumar@techferry.com</span><br>
                                        Contact Number: <span class="empListConatctNumber">9999999999</span><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title empListName">Kumar Gaurav</h4>
                                    <h6 class="card-title">Leaves Taken</h6>
                                    <h5 class="card-title empListLeavesTaken">0</h5>
                                    <h6 class="card-title">Available Leaves</h6>
                                    <h5 class="card-title empListAvailableLeaves">0</h5>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="btn btn-primary btn-sm btn-block viewEmpDetails" href="#" style="color:#fff !important">
                                                View/Edit Employee Details
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}
            <!-- ./Team member -->


        </div>
    </div>
</section>
<!-- Team -->

<script src="../javascripts/view-employees.js"></script>